@use "variaveis";
/* --- RESPONSIVO --- */
@media (max-width: 992px) {
    .hero {
      .container {
        flex-direction: column-reverse;
        text-align: center;
        
        .description{
        max-width: 930px;  
        }
      }
    }
  
    .hero-btns {
      justify-content: center;
          flex-direction: row;

    }
  
    .hero-image img {
      max-width: 280px;
    }
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 70px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 70px);
      background: var(--bg) !important;
      flex-direction: column;
      padding: 3rem 0;
      visibility: hidden;
      border-top: 1px solid var(--border);
      gap: 0;
      z-index: 1100;
  
      &.active {
        left: 0;
        visibility: visible;
      }
  
      li {
        width: 100%;
        text-align: center;
      }
  
      a {
        font-size: 1.5rem;
        font-weight: 800;
        display: block;
        padding: 1.2rem 1.5rem;
        width: 100%;
      }
    }
  
    .nav-right {
      gap: 1rem;
    }
  }
  @media (max-width: 456px) {
    
      .hero-btns{
          flex-direction: column;
      }

    }
  